div,
section,
.table__cell_theme_dark {
  border: 2px solid red;
}
/* -------------------------------------------------*/
/*                     BLOCKS                       */
/* -------------------------------------------------*/

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  z-index: 4;
}

/* Description section */
.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
/* Digits Section */
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
  margin: auto;
  margin-bottom: 20px;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  width: 60%;
}
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-left: 0px;
}

/* Feynman Section */
.feynman {
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  height: 790px;
  position: relative;
}

/* Kaufman Section */
.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

/* -------------------------------------------------*/
/*                     ELEMENTS                     */
/* -------------------------------------------------*/
/* here we have two examples of selectors in order to remind you how to set styles for elements */

/* Header box */
.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  z-index: 5;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  max-width: 388px;
  width: 100%;
  left: 64px;
  bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 756px;
  max-height: 608px;
  z-index: 2;
}

.header__square {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

/* Description Box */
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}
/* Digits Box */
.table__cell {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}
.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* Feynman Block */
.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 775px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* Kaufman Block */
.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  right: -124px;
  top: 0px;
  z-index: 1;
}

/* -------------------------------------------------*/
/*                     MODIFIERS                    */
/* -------------------------------------------------*/
/* including elements with key-value modifiers */

/* Kaufman Block */
.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  width: 60%;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
  z-index: 5;
}
.section-subtitle_theme_dark {
  width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 4;
}
.table_theme_dark {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  padding-bottom: 90px;
  list-style: none;
  z-index: 3;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 60px;
  z-index: 1;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
